@font-face {
  font-family: "Arkhip_font";
  font-family: "OSNOVAPRO";
  font-family: "OSNOVAPRO-ITALIC";
  src: url(../fonts/Arkhip_font.otf);
  src: url(../fonts/OSNOVAPRO-ITALIC.OTF);
  src: url(../fonts/OSNOVAPRO.OTF);
}
html,
body {
  font-size: 0;
}
ul {
  list-style: none;
}
.md {
  display: none;
}
.lg {
  display: inline-block;
  margin-top: -33%;
}
@media (max-device-width: 1200px) {
  .md {
    display: block;
  }
  .lg {
    display: none;
  }
}
